<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.contentcenter.dao.content.ContentMapper">
  <resultMap id="BaseResultMap" type="com.momo.contentcenter.domain.entity.content.Content">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="comment" jdbcType="INTEGER" property="comment" />
  </resultMap>
</mapper>